# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
.video-frames/
.video-frames-2/
.video-frames-3/
.extract-video-frames.ps1
.extract-video-frames-2.ps1
.extract-video-frames-3.ps1
.video-metadata.ps1

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
